* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* pour inclure les marges internes et les bordures dans la taille du parent */
}

a {
  text-decoration: none;
}

body {
  background-image: url(image/pool.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 10em; /* en px em or rem */
}

.monHeader {
  display: flex;
  justify-content: space-between;

}

.lien {
  display: flex;
  flex-direction: row;
}
ul li {
  padding: 40px;
  list-style-type: none ;
}

h1 {
  color: rgb(22, 108, 158);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: justify;
  margin: 0 auto;
  border: 4px dotted green;
  padding: 50px 10px 50px 50px;
  width: 50%;
  background-color: burlywood;
}

button {
  color: green;
}

.tortue {
  text-align: left;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  color: powderblue;
  font-size: 1rem;
  text-align: center;
}

.tortue h2 {
  /* text-align: left; */
  border: dotted;
}

/* #unique {
  font-size: 25px;
  text-align: right;
} */

.lorem1 {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
}

.lorem2 {
  background-color: rgb(99, 15, 155);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.haut {
  border: 1px solid black;
  background-color: coral;
  width: 150px;
  height: 150px;
}

.milieu {
  border: 1px solid rgb(39, 158, 39);
  background-color: rgb(255, 80, 197);
  width: 150px;
  height: 150px;
}

.bas {
  border: 1px solid rgb(158, 39, 39);
  background-color: rgb(80, 220, 255);
  width: 150px;
  height: 150px;
  border: 10px black dotted;
}

.banderole {
  display: flex;
  background-color: rgba(0, 255, 255, 0.26);
}

.orange {
  display: flex;
  justify-content: space-around;
}

.bleu {
  display: flex;
  justify-content: space-around;
}

.totem {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.imgbreakfast {
  width: 150px;
}

.breakfast{
display: flex;
justify-content: space-evenly ;
}

.containerGrid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    margin-bottom: 100px;
}

.boite {
    background-color: rgb(13, 143, 124);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 255, 0.074);
    display: flex;
    align-items: center;
    justify-content: center;
}

.one{
  grid-column: 1/4;
  grid-row: 1/2;
}

.two{
  grid-column:1/3 ;
  grid-row: 2/3;
}

.three{
  grid-column:3/4 ;
  grid-row: 2/4;
}

.four{
  grid-column: 1/2;
  grid-row: 3/4;
}

.five{
  grid-column: 2/3;
  grid-row: 3/4;
}

.six{
  grid-column: 1/3;
  grid-row: 4/5;
}

.seven{
  grid-column: 3/4;
  grid-row: 4/5;
}

.eight{
  grid-column: 1/4;
  grid-row: 5/5;
}