* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* pour inclure les marges internes et les bordures dans la taille du parent */
}

a {
  text-decoration: none;
}

body {
  background-image: url(image/pool.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 10em; /* en px em or rem */
}

.monHeader {
  display: flex;
  justify-content: space-between;
}

.lien {
  display: flex;
  flex-direction: row;
}
ul li {
  padding: 40px;
  list-style-type: none;
}

h1 {
  color: rgb(22, 108, 158);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: justify;
  margin: 0 auto;
  border: 4px dotted green;
  padding: 50px 10px 50px 50px;
  width: 50%;
  background-color: burlywood;
}

button {
  color: green;
}

.tortue {
  text-align: left;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  color: powderblue;
  font-size: 1rem;
  text-align: center;
}

.tortue h2 {
  /* text-align: left; */
  border: dotted;
}

/* #unique {
  font-size: 25px;
  text-align: right;
} */

.lorem1 {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
}

.lorem2 {
  background-color: rgb(99, 15, 155);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.haut {
  border: 1px solid black;
  background-color: coral;
  width: 150px;
  height: 150px;
}

.milieu {
  border: 1px solid rgb(39, 158, 39);
  background-color: rgb(255, 80, 197);
  width: 150px;
  height: 150px;
}

.bas {
  border: 1px solid rgb(158, 39, 39);
  background-color: rgb(80, 220, 255);
  width: 150px;
  height: 150px;
  border: 10px black dotted;
}

.banderole {
  display: flex;
  background-color: rgba(0, 255, 255, 0.26);
}

.orange {
  display: flex;
  justify-content: space-around;
}

.bleu {
  display: flex;
  justify-content: space-around;
}

.totem {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.imgbreakfast {
  width: 150px;
}

.breakfast {
  display: flex;
  justify-content: space-evenly;
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  margin-bottom: 100px;
}

.boite {
  background-color: rgb(13, 143, 124);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 255, 0.074);
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  grid-column: 1/4;
  grid-row: 1/2;
}

.two {
  grid-column: 1/3;
  grid-row: 2/3;
}

.three {
  grid-column: 3/4;
  grid-row: 2/4;
}

.four {
  grid-column: 1/2;
  grid-row: 3/4;
}

.five {
  grid-column: 2/3;
  grid-row: 3/4;
}

.six {
  grid-column: 1/3;
  grid-row: 4/5;
}

.seven {
  grid-column: 3/4;
  grid-row: 4/5;
}

.eight {
  grid-column: 1/4;
  grid-row: 5/5;
}

.imageSectionTest {
  width: 150px;
}

.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

.section img {
  max-width: 100%;
  border-radius: 5px;
}

.petit-texte {
  font-size: 14px;
  color: #555;
}

.toggle-desc {
  display: none;
}

.arrow-container {
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

/* se comporte en inline a l'exterieur et block a l'interrieur
permet l'alignement horizontal, on peut lui donner une width et une height et prend parfaitement le padding et le margin sur les 4 coté
difference entre block et inline
block: prend toute la largeur dispo, div , h, p, section, form ...
inline prend la largeur de son contenu span a img, button input label
 */

.arrow-down {
  font-size: 24px;
  display: inline-block;
  transition: transform 0.3s;
}

.description-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBoxBlack{
  color: #111;
}

/* Quand le checkbox est coché*/
.toggle-desc:checked ~ .description-box {
  /* le tild ~ cible un élément qui suit un autre élémént, 
  à condition qu'ils partagent le même parent (ils sont frère),
  même si il y a d'autres balises entre les deux,
  different du + qui cible uniquement le frère immédiat */
  max-height: 500px;
  padding: 15px;
}

.toggle-desc:checked ~ .arrow-container .arrow-down {
  transform: rotate(100deg);
  transform: scale(1.5); /* agrandit la fleche et le texte*/
}

.footer{
  background-color: #e9dddd;
  /*couleur sombre style disnai*/
  color: white;
  padding: 30px 0px 10px 0px;
  width: 100%;
}



.footer-content {
  display: flex;
  justify-content: space-around;
  background-color: #e9dddd;
  align-items: center;
}

.footer-logo img{
  width: 50px;
  /*border: 3px solid blue*/ ;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: ;
}

.footer-socials{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer-bottom{
  border-top: solid 2px black;
  text-align: center;
  background-color: #e9dddd;
}