.feuTricolore p{
    /* border: solid black 2px; */
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 40px;
    align-items: center;
}
#redLight{
    background-color: white;
}
#orangeLight{
    background-color: white;
}
#greenLight{
    background-color: white;
}

.feuTricolore{
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.402);
    width: 3rem;
    border-radius: 5px;
    padding: 10px;
    gap:10px;
}
#lumiereRouge{
    background-color: red;
}
#lumiereJaune{
    background-color: yellow;
}
#lumiereVerte{
    background-color: green;
}