.rowHeader {
  /* display: flex;
flex-direction: column-reverse; */
  /* transform: rotate(90deg); */
}
td img{
    width: 5%;
}
tr{
    text-align: center;
}
table{
    /* border: solid 1px; */
    width: 50%;
}
td{
    border-bottom: dotted 1px;
}
.tableHeader{
    
}