.feuTricolore p{
    /* border: solid black 2px; */
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 40px;
    align-items: center;
}
#redLight{
    background-color: white;
}
#orangeLight{
    background-color: white;
}
#greenLight{
    background-color: white;
}

.feuTricolore{
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.402);
    width: 3rem;
    border-radius: 5px;
    padding: 10px;
    gap:10px;
}
#lumiereRouge{
    background-color: red;
}
#lumiereJaune{
    background-color: yellow;
}
#lumiereVerte{
    background-color: green;
}

/* EXERCICE 3 MODALE */
/* #myModal{
    display: flex;
    flex-direction: column;
    background-color: rgba(89, 84, 94, 0.276);
    max-width: 30%;
    align-content: center;
    border: solid black 1px;
    border-radius: 4px;

    display: none;
} */
/* #myModal span{
    display: flex;
    align-self: flex-end;
    background-color: rgb(237, 239, 239);
    font-weight: bolder;
} */

/* The Close Button */
.closeCross {
  color: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modale{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
    top: 0;
    left: 0;
}

.modale.active{
    display: block;
}

