.rowHeader {
  /* display: flex;
flex-direction: column-reverse; */
  /* transform: rotate(90deg); */
}

tr{
    text-align: center;
}
table{
    /* border: solid 1px; */
    width: 40%;
}
td{
    /* border-bottom: dotted 1px; */
}
.tableHeader{
    
}
/*Mise en forme calculatrice*/
.myCalculateBody button{
    color: blueviolet;
    background-color: aqua;
    width: 80px;
}

/* EXO 10*/
.hidden {
  display: none;
}
